# ***variables and data types***

In [ ]:
first_name="pooja"
last_name="Doddamani"
age=21
print(f"my name is:{first_name} {last_name} and Age is:{age}")

my name is:pooja Doddamani and Age is:21

# ***Numeric Type***

In [ ]:
a=10
if a>0:
  print("a is positive")
  print("This is inside if block")

a is positive
This is inside if block

# ***string***

In [ ]:
a='pooja'
b="Hello World"
c=""" my self pooja"""
d="""from Haveri"""
print(a, b , c ,d)

pooja Hello World  my self pooja from Haveri

# ***Boolean type***

In [ ]:
is_active=True
is_finished=False
print(is_active,is_finished)

True False

# ***Type checking***

In [ ]:
print(type(first_name))
print(type(age))
print(type(is_active))
print(type(is_finished))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'bool'>

# ***Type Conversion***

In [ ]:
str_num="123"
int_num=int(str_num)
float_num=float(str_num)
print(f"original:{str_num} (type:{type(str_num)})")
print(f"original:{int_num} (type:{type(int_num)})")
print(f"original:{float_num} (type:{type(float_num)})")

original:123 (type:<class 'str'>)
original:123 (type:<class 'int'>)
original:123.0 (type:<class 'float'>)

# ***Personal Information***

In [ ]:
name="Pooja M Doddamani"
age=21
place="Haveri"
sem=5
is_student=True
print(f"Name:{name}")
print(f"Age:{age}")
print(f"Place:{place}")
print(f"Sem:{sem}")
print(f"is_student:{is_student}")

Name:Pooja M Doddamani
Age:21
Place:Haveri
Sem:5
is_student:True

# ***Type conversion***

In [ ]:
age_str=str(age)
sem_int=int(sem)
print(f"Age as a string:{age_str}")
print(f"sem as integer:{sem_int}")

Age as a string:21
sem as integer:5

# ***Operator and Basic Operation***
##Arithematic operator

In [ ]:
a=20
b=10
print(f"Addition:{a+b}")
print(f"Substraction:{a-b}")
print(f"Multiplication:{a*b}")
print(f"Division:{a/b}")
print(f"Floor Division:{a//b}")
print(f"Modulus:{a%b}")
print(f"Exponent:{a**b}")

Addition:30
Substraction:10
Multiplication:200
Division:2.0
Floor Division:2
Modulus:0
Exponent:10240000000000

# ***Order of Operation(PEMDAS)***

- P-Parenthesis
- E-Exponents
- M-Multiplication
- D-Division
- A-Addition
- S-Substraction

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

##Comparision Operator##

###Integer Comparision###

In [ ]:
a=200
b=100
print(f"LessThan:{a<b}")
print(f"GreaterThan:{a>b}")
print(f"LessThanEqual:{a<=b}")
print(f"GreaterThanEqual:{a>=b}")
print(f"Equal:{a==b}")
print(f"NotEqual:{a!=b}")

LessThan:False
GreaterThan:True
LessThanEqual:False
GreaterThanEqual:True
Equal:False
NotEqual:True

###String Comparision###

In [ ]:
n1="Ram"
n2="Ravi"
print(n1>n2)
print(n1<n2)
print(n1==n2)
print(n1!=n2)
print(n1<=n2)
print(n1>=n2)

False
True
False
True
True
False

# ***Logical Operator***

In [ ]:
p=True
s=False
print(f"p and s:{p and s}")
print(f"p or s:{p or s}")
print(f"p not s:{not p}")

p and s:False
p or s:True
p not s:False

In [ ]:
#Practical Example
age=20
has_license=True
can_drive=age>=18 and has_license
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
#Multiple conditions
score=85
is_present=True
has_passed=score>=90 and is_present
print(f"has passed:{has_passed}")

has passed:False

In [ ]:
#Personal Information
age=18
annual_income=50000
credit_score=720
has_colleteral= True

In [ ]:
#Loan criteria
min_age=18
min_annual_income=30000
min_credit_score=650
min_has_colleteral=True
eligible=age>=min_age and annual_income>=min_annual_income and credit_score>=min_credit_score
print(f"eligibility:{eligible}")

eligibility:True

In [ ]:
#check Qualification
age_qualified = age >= min_age
income_qualified =annual_income >= min_annual_income
credit_qualified = credit_score >= min_credit_score
print(f"age qualified:{age_qualified}")
print(f"income qualified:{income_qualified}")
print(f"credit qualified:{credit_qualified}")

age qualified:True
income qualified:True
credit qualified:True

# ***Data Strucutre***

##List##

In [ ]:
#creating list
Fruits=['Banana','Apple','Mango']
Number=[10,20,30,40]
Mixed_data=['sihi',51,'Ram',54.8]
print(Fruits)
print(Number)
print(Mixed_data)

#indexing
print("fisrt fruit:",Fruits[0])
print("second number:",Number[1])
print("3rd mixed data is:",Mixed_data[2])

#list slicing
print(f"first 2 fruits:",Fruits[0:2])
print(f"last 2 numbers:",Number[1:3])
print(f"first 3 mixed data:",Mixed_data[0:3])

#list methods
Fruits.append("orange")
Fruits.insert(1,"kiwi")
print("Upadated Fruit list:",Fruits)
remove=Fruits.pop()
print("Upadated Fruit list:",Fruits)
print("Removed:",remove)

#list operation
print(f"Length of Number:{len(Number)}")
print(f"contains 'Mango':{'Mango' in Fruits}")
print(f"Index of Banana:{Fruits.index('Banana')}")

['Banana', 'Apple', 'Mango']
[10, 20, 30, 40]
['sihi', 51, 'Ram', 54.8]
fisrt fruit: Banana
second number: 20
3rd mixed data is: Ram
first 2 fruits: ['Banana', 'Apple']
last 2 numbers: [20, 30]
first 3 mixed data: ['sihi', 51, 'Ram']
Upadated Fruit list: ['Banana', 'kiwi', 'Apple', 'Mango', 'orange']
Upadated Fruit list: ['Banana', 'kiwi', 'Apple', 'Mango']
Removed: orange
Length of Number:4
contains 'Mango':True
Index of Banana:0

# ***Tuples***

In [ ]:
#Tuple are inmutable
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("pooja",25,"Engineer",25,True)
print(coordinates)
print(rgb_color)
print(person_info)

#Tuple Unpacking
x,y=coordinates
print(f"x:{x} y:{y}")

#Tuple Methods
print(f"Count of 25:{person_info.count(25)}")
print(f"Index of pooja:{person_info.index('pooja')}")

(10, 20)
(255, 128, 0)
('pooja', 25, 'Engineer', 25, True)
x:10 y:20
Count of 25:2
Index of pooja:0

# ***Why use Tuples?***
- Immutable(safe for dictionary keys)
- Slightly faster than list
- Good for fixed collections