# ***Dictionary***

In [ ]:
#Dictionary Creation
person={
    "name":"Pooja",
    "age":21,
    "job":"software engineer",
    "salary":50000,
    "skiils":["python","java","c++"]
}
print(person)

#Acessing Values
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','unknown')}")

#Dictionary Methods
print(f"Keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items:{list(person.items())}")

#Adding/updating
person["location"]="NewYork"
person["salary"]=80000

{'name': 'Pooja', 'age': 21, 'job': 'software engineer', 'salary': 50000, 'skiils': ['python', 'java', 'c++']}
Name:Pooja
Age:21
Keys:['name', 'age', 'job', 'salary', 'skiils']
Values:['Pooja', 21, 'software engineer', 50000, ['python', 'java', 'c++']]
Items:[('name', 'Pooja'), ('age', 21), ('job', 'software engineer'), ('salary', 50000), ('skiils', ['python', 'java', 'c++'])]

# **Practical use case:Inventory Mangement**

In [ ]:

iventory={
    "laptops":{
        "quantity":50,
        "price":999.99
    },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tablets":{
        "quantity":30,
        "price":399.99
    }

}
#Nested Acess
print(f"Laptop price:{iventory['laptops']['price']}")
print(f"Total quantity:{iventory['phones']['quantity']}")

Laptop price:999.99
Total quantity:100

# **Sets**

- **set contain unique elements**

In [ ]:
colors={"red","green","blue","red"}
print(f"colors:{colors}")

colors:{'green', 'blue', 'red'}

- **set operation**

In [ ]:
team1_skills={'python','java','c'}
team2_skills={'c++','java','c','sql'}
print(f"Union:{team1_skills.union(team2_skills)}")
print(f"Intersection:{team1_skills.intersection(team2_skills)}")
print(f"Difference:{team1_skills.difference(team2_skills)}")

Union:{'sql', 'c', 'java', 'python', 'c++'}
Intersection:{'c', 'java'}
Difference:{'python'}

- **Adding to set**

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"updated colors:{colors}")

updated colors:{'red', 'purple', 'blue', 'orange', 'green', 'yellow'}

# **Control Flow**

**Conditional Statements**

- **Basic if-else**

In [ ]:
def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "F"

- **Test the function**

In [ ]:
test_score=[95,83,72,65,58]
for score in test_score:
  grade=get_grade_letter(score)
  print(f"score:{score} grade:{grade}")

score:95 grade:A
score:83 grade:B
score:72 grade:C
score:65 grade:D
score:58 grade:F

- **Nested Condition**

In [ ]:
def get_shipping_const(weight,distance):
  base_cost=5.0

  if weight<=1:
    weight_cost=2.0
  elif weight<=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

  if distance<=100:
    distance_cost=1.0
  elif distance<=500:
    distance_cost=3.0
  else:
    distance_cost=7.0
  return base_cost+weight_cost+distance_cost

- **Test shipping cost**

In [ ]:
print(f"Light,close:${get_shipping_const(0.5,50)}")
print(f"Heavy,far:${get_shipping_const(10,800)}")

Light,close:$8.0
Heavy,far:$22.0

# **Loops-For Loop**

- **Basic for loop**

In [ ]:
fruits=["apple","banana","orange","grape"]
for fruit in fruits:
  print("I like",fruit)

I like apple
I like banana
I like orange
I like grape

- **Loop with Enumerate(get index)**

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.banana
3.orange
4.grape

- **Loop with range**

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

- **Nested Loops-creating a multiplication table**

In [ ]:
print("Multiplication Table:")
for i in range(1,6):
  for j in range(1,6):
    product = i * j
    print(i,"X",j,"=",product)

Multiplication Table:
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

- **Processing data with loops**

In [ ]:
sales_data=[
    {"product":"laptop","price":999,"quantity":5},
    {"product":"phone","price":599,"quantity":10},
    {"product":"tablet","price":399,"quantity":8}
]
total_revenue=0

for item in sales_data:
  revenue=item["price"]*item["quantity"]
  total_revenue+=revenue
  print(f"{item['product']}:${revenue}")
print(f"Total Revenue:${total_revenue}")

laptop:$4995
phone:$5990
tablet:$3192
Total Revenue:$14177

- **Loop-WhileLoop**

**While loop for user input simulation**

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempt=0
  print("Guess the number between 1 and 10")

  while guess!=target:
    #stimulate user input
    import random
    guess=random.randint(1,10)
    attempt+=1

    if guess < target:
      print(f"Guess {attempt}:{guess}-Too low!")
    elif guess > target:
      print(f"Guess {attempt}:{guess}-Too high!")
    else:
      print(f"Guess {attempt}:{guess}-Correct!")

    #Safety check
    if attempt > 10:
      print("Max attempts reached!")
      break
  print(f"Game finished in {attempt} attempt")

simple_guessing_game()

Guess the number between 1 and 10
Guess 1:10-Too high!
Guess 2:8-Too high!
Guess 3:3-Too low!
Guess 4:8-Too high!
Guess 5:4-Too low!
Guess 6:5-Too low!
Guess 7:5-Too low!
Guess 8:3-Too low!
Guess 9:1-Too low!
Guess 10:2-Too low!
Guess 11:7-Correct!
Max attempts reached!
Game finished in 11 attempt

- **while loop for processing**

In [ ]:
def process_queue():
  queue=["Task 1","Task 2","Task 3","Task 4"]

  while queue:
    current_task=queue.pop(0)
    print(f"Processing:{current_task}")
    print(f"Remaining tasks:{len(queue)}")
  print("All tasks completed!")
process_queue()

Processing:Task 1
Remaining tasks:3
Processing:Task 2
Remaining tasks:2
Processing:Task 3
Remaining tasks:1
Processing:Task 4
Remaining tasks:0
All tasks completed!

# **Functions Basic**

- **Basic Function Definition**

In [ ]:
def greet(name):
  return f"Hello,{name}"

- **Function call**

In [ ]:
message=greet("Python programmer")
print(message)

Hello,Python programmer

- **Function with multiple parameter**

In [ ]:
def calculate_area(length,width):
  area=length*width
  return area

 - **Test the function**

In [ ]:
room_area=calculate_area(10,5)
print(f"Room area:{room_area} square feet")

Room area:50 square feet

- **Function with default parameter**

In [ ]:
def create_user_profile(name,age=18,location="unknown",active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

 - **Different ways to call**

In [ ]:
profile1=create_user_profile("Alice")
profile2=create_user_profile("Bob",25)
profile3=create_user_profile("Charli",location="New york",age=30)
print(f"Profile1:{profile1}")
print(f"Profile2:{profile2}")
print(f"Profile3:{profile3}")

Profile1:{'name': 'Alice', 'age': 18, 'location': 'unknown', 'active': True}
Profile2:{'name': 'Bob', 'age': 25, 'location': 'unknown', 'active': True}
Profile3:{'name': 'Charli', 'age': 30, 'location': 'New york', 'active': True}

# **Advanced Function Concepts**

- **Function returning multiple values**

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count=len(words)
  char_count=len(text)
  char_count_no_space=len(text.replace(" "," "))

  return word_count,char_count,char_count_no_space

- **Test with sample text**

In [ ]:
sample_text="Python is powerful programming language"

words,chars,chars_no_space=analyze_text(sample_text)

print(f"Text:'{sample_text}'")
print(f"Words count:{words}")
print(f"Characters:{chars}")
print(f"Characters(no space):{chars_no_space}")

Text:'Python is powerful programming language'
Words count:5
Characters:39
Characters(no space):39

- **Variable length argument**

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers)/len(numbers)

- **Test with different numbers of arguments**

In [ ]:
avg1=calculate_average(10,20,30,40)
avg2=calculate_average(1,2,3,5)
avg3=calculate_average(100)

print(f"Average of 10,20,30,40:{avg1}")
print(f"Average of 1,2,3,5:{avg2}")
print(f"Average of 100:{avg3}")

Average of 10,20,30,40:25.0
Average of 1,2,3,5:2.75
Average of 100:100.0

- **keyword Argument**

In [ ]:
def create_report(**data):
  print("=== REPORT ===")

  for key,value in data.items():
   print(f"{key.replace('_','').title()}:{value}")

  print("===========")

create_report(
    title="Monthly sales report",
    date="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
)

=== REPORT ===
Title:Monthly sales report
Date:2024-01-01
Totalsales:15000
Newcustomers:25
Returningcustomers:150
===========

# **Lambda Functions**

- **Lambda Functions(anonymous functions)**

- Regular Functions

In [ ]:
def squares(x):
  return x**2

- Lambda Equivalent

In [ ]:
square_lambda=lambda x:x**2
print(f"Regular Function:{squares(5)}")
print(f"Lambda Function:{square_lambda(5)}")

Regular Function:25
Lambda Function:25

- **Lambda with multiple arguments**

In [ ]:
multiply=lambda x,y:x*y
print(f"Multiply:{multiply(3,4)}")

Multiply:12

- **Lambda with built in function**

In [ ]:
numbers = [1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(f"Squared Numbers:{squared}")

Squared Numbers:[1, 4, 9, 16, 25]

- **Filtering with Lambda**

In [ ]:
ages=[16,18,23,16,19,67,10]
adults=list(filter(lambda x:x>=18,ages))
print(f"Adult Ages:{adults}")

Adult Ages:[18, 23, 19, 67]

- **Sorting with lambda**

In [ ]:
people=[
    {"name":"Alice","age":30},
    {"name":"Bob","age":25},
    {"name":"Charlie","age":35}
]
sorted_people=sorted(
    people,
    key=lambda person:person["age"]
)
print(f"People sorted by age:")

for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

People sorted by age:
Bob:25
Alice:30
Charlie:35